---
import GitHubIcon from "../icons/GitHub.astro";
---
<button
    class={Astro.props.class}
    type="button"
    title="Source code"
    class="text-white bg-[#24292F] hover:bg-[#24292F]/80 hover:ring-1 hover:ring-gray-400 focus:ring-1 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:ring-1 dark:hover:ring-gray-400 dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2"
>
    <GitHubIcon class="size-4 me-2" />
    Code
</button>