<button
    class={Astro.props.class}
    type="button"
    title="Project preview"
    class="text-white bg-gradient-to-r from-cta-purple to-main-purple outline outline-black/60 outline-1 hover:bg-gradient-to-l focus:ring-1 focus:outline-none focus:ring-purple-200 dark:focus:ring-cta-purple font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
>
    Live preview
</button>
