---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialLink from "../components/SocialLink.astro";
---

<Layout title="Portfolio de Belén Gimenez. Programadora, Desarrolladora Web y Analista de Datos."
description="Contrata a Belén para crear tu aplicación web o para realizar tu proyecto de análisis de datos.">
	<main>
		<section class="w-full lg:w-[714px] mx-auto py-40">
			<img
				class="rounded-full size-40 float-right"
				src="https://avatars.githubusercontent.com/u/90286485?v=4"
				alt="belen photo"
			/>

			<p class="font-semibold">Hi I am</p>
			<p class="text-main-purple text-lg font-semibold" style="letter-spacing: 0.96px;">Belén Gimenez</p>

			<h1 class="text-white text-5xl font-bold pb-4 py-1">
				Web Developer<br />
				<span class="ml-40">& Data Analyst</span>
			</h1>

			<h2 class="text-xl text-wrap">
				<span class="opacity-80">
					Skilled in crafting innovative solutions to complex
					problems.
				</span>
				<span class=""> Let's bring your digital ideas to life!</span>
			</h2>

			<nav class="flex gap-x-4 mt-8">
				<SocialLink href="https://www.linkedin.com/in/belengimenez/">
					<LinkedInIcon class="size-6" />
				</SocialLink>
				<SocialLink href="https://github.com/SBelenB">
					<GitHubIcon class="size-6" />
				</SocialLink>
			</nav>
		</section>
	</main>
</Layout>