---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialLink from "../components/SocialLink.astro";
import Container from "../components/Container.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import CoffeeIcon from "../components/icons/Coffee.astro";
import ContactForm from "../components/Contact.astro";
---

<Layout
	title="Portfolio de Belén Gimenez. Programadora, Desarrolladora Web y Analista de Datos."
	description="Contrata a Belén para crear tu aplicación web o para realizar tu proyecto de análisis de datos."
>
	<main class="px-4">
		<Container class="py-10 lg:py-40 pb-12 lg:pb-24">
			<span class="flex justify-center items-center lg:float-right">
				<img
					class="rounded-full shadow-md shadow-white/20 size-48"
					src="https://avatars.githubusercontent.com/u/90286485?v=4"
					alt="belen photo"
				/>
			</span>

			<p class="font-semibold opacity-85">Hi I am</p>
			<p
				class="text-main-purple text-lg font-semibold"
				style="letter-spacing: 0.96px;"
			>
				Belén Gimenez
			</p>

			<h1
				class="text-white opacity-95 text-2xl md:text-4xl lg:text-5xl font-bold pb-4 py-1"
			>
				Web Developer
				<span class="lg:ml-40">& Data Analyst</span>
			</h1>

			<h2 class="text-xl text-balance">
				<span class="opacity-80">
					Skilled in crafting innovative solutions to complex
					problems.</span
				>
				<span class="text-light-pink">
					Let's bring your digital ideas to life!</span
				>
			</h2>

			<nav class="flex gap-x-4 mt-8">
				<SocialLink href="https://www.linkedin.com/in/belengimenez/">
					<LinkedInIcon class="size-6" />
				</SocialLink>
				<SocialLink href="https://github.com/SBelenB">
					<GitHubIcon class="size-6" />
				</SocialLink>
			</nav>
		</Container>

		<Container id="projects">
			<h2 class="text-3xl font-semibold opacity-90 mb-4 flex gap-x-3 justify-center items-center">
				<CodeIcon class="size-7" />
				My Projects
			</h2>
			<p class="text-1xl opacity-80 mb-8 text-center text-balance">Imagine a universe where your ideas come to life with just a few keystrokes, that's the magic of coding! ✨</p>
			<span class="grid lg:grid-cols-2 gap-x-16">
				<Projects />
			</span>
		</Container>
			
		<Container id="about" class="lg:mb-20 mb-12">
			<h2 class="text-3xl font-semibold opacity-90 mb-6 flex gap-x-3 justify-center items-center">
				<CoffeeIcon class="size-7" />
				About Me
			</h2>
			
			<p class="text-1xl text-center mb-1 opacity-90">Hola, I'm Belén, a <span class="text-main-purple font-bold">Developer</span> and <span class="text-main-purple font-bold">Data Analyst</span> from Argentina. 🇦🇷</p>

			<div class="md:flex md:gap-x-8">
				<img class="h-auto rounded shadow-md shadow-white/20 mb-4 md:w-1/2" src="../code-screen.webp" alt="image about me section">
				<div class="text-1xl opacity-90 text-pretty">	
					<p class="mb-4">Currently, I am embarking on the adventure of earning a Bachelor's degree in Data Analysis, where my days are a fusion of logic and creativity.</p>
					
					<p class="mb-1 text-light-pink font-bold">I find joy in transforming code and raw data into impactful solutions.</p>
					
					<p>Beyond the confines of a screen, you might catch me sipping mate while contemplating data dashboards. 💻📊</p>
				</div>
			</div>
		</Container>

		<!-- Contact Section -->
		<Container id="contact" class="mb-12">
			<ContactForm />
		</Container>
	</main>
</Layout>
