---
import SocialLink from "./SocialLink.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import GitHubIcon from "./icons/GitHub.astro";
---
<footer class="w-auto 
[background:radial-gradient(125%_125%_at_50%_10%,#f0e5ee_40%,rgba(255,0,182,.15)_100%)]
dark:[background:radial-gradient(125%_125%_at_50%_10%,#1E1E1E_40%,rgba(255,0,182,.15)_100%)] py-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col justify-center items-center gap-y-4">
        
        <span class="flex gap-x-4">
            <SocialLink href="https://www.linkedin.com/in/belengimenez/" title="Linkedin">
                <LinkedInIcon class="size-6" />
            </SocialLink>
            <SocialLink href="https://github.com/SBelenB" title="Github">
                <GitHubIcon class="size-6" />
            </SocialLink>
        </span>
        
        <span class="text-sm opacity-80 sm:text-center dark:text-gray-400">
            2024 
            <a href="https://www.linkedin.com/in/belengimenez/" target="_blank" class="hover:underline" title="Profile Belen Gimenez">
                Belen Gimenez</a>
        </span>
        
        <ul class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#top" class="hover:underline me-4 md:me-6" title="Home">Home</a>
            </li>
            <li>
                <a href="#projects" class="hover:underline me-4 md:me-6" title="Projects">Projects</a>
            </li>
            <li>
                <a href="#about" class="hover:underline me-4 md:me-6" title="About Me">About</a>
            </li>
            <li>
                <a href="#contact" class="hover:underline" title="Send me a message">Contact</a>
            </li>
        </ul>
    </div>
</footer>
