<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img class="size-12"
    src="https://i.imgur.com/fhw7NZU.png"
    alt="belen logo"
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/about">About Me</a>
        <a href="/contact">Contact</a>
    </nav>
</header>