<header class="flex justify-between px-4 items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class="size-12"
    src="https://i.imgur.com/fhw7NZU.png"
    alt="belen logo"
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Home</a>
        <a href="#projects">Projects</a>
        <a href="#about">About Me</a>
        <a href="#contact">Contact</a>
    </nav>
</header>