<header class="flex justify-between px-4 items-center py-5 w-full mx-auto lg:w-[940px]">
    <a href="#">
        <img class="size-12"
        src="https://i.imgur.com/PKu4Orv.png"
        alt="logo"/>
    </a>

    <nav class="flex flex-row opacity-80 gap-x-4 md:gap-x-10">
        <a href="#top">Home</a>
        <a href="#projects">Projects</a>
        <a href="#about">About Me</a>
        <a href="#contact">Contact</a>
    </nav>
</header>