---
import Python from "./icons/Python.astro";
import Django from "./icons/Django.astro";
import ButtonLink from "../components/ButtonLink.astro";
import PreviewBtn from "../components/buttons/PreviewBtn.astro";
import CodeBtn from "../components/buttons/CodeBtn.astro";

const TAGS = {
    PYTHON: {
        icon: Python,
    },
    DJANGO: {
        icon: Django,
    }
}

const PROJECTS = [
    {
        title: "Block-B - Literary blog",
        description:
            "Created with Python and Django. It's a blog featuring reviews, recommendations, and a variety of content related to books.",
        link: "https://grupo6info.pythonanywhere.com/",
        github: "https://github.com/SBelenB/Proyecto_Final",
        image: "/projects/block-b.webp",
        tags: [TAGS.PYTHON, TAGS.DJANGO],
    },
];
---

{
    PROJECTS.map(({ image, title, description, tags }) => (
        <article class="lg:mb-20">
            <img
                class="rounded mb-2"
                src={image}
                alt={`captura de pantalla del proyecto ${title}`}
            />
            <ul class="flex">
                {tags.map((tag) => (
                    <li>
                        <tag.icon class="size-10" />
                    </li>
                ))}
            </ul>
            <h3 class="text-2xl font-semibold text-main-purple mb-2">{title}</h3>
            <p class="text-1xl opacity-90 text-balance mb-4">{description}</p>
            <span class="flex gap-x-4">
                <ButtonLink href="https://grupo6info.pythonanywhere.com/">
                    <PreviewBtn />
                </ButtonLink>
                <ButtonLink href="https://github.com/SBelenB/Proyecto_Final">
                    <CodeBtn />
                </ButtonLink>
            </span>
        </article>
    ))
}
