---
import '@fontsource/poppins';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
		<!-- Background gradient -->
		<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[450px] md:w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div><div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] md:w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div></div>

		<slot />
		<Footer />
		<script>import "../scripts/contact.js"</script>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}
	
	html {
		font-family: "Poppins", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	
	body {
		background: #1E1E1E;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overflow-x: hidden;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
